{% extends "main.html" %} {% load static %}{% block content %}
<div
  class="bg-white p-8 rounded-lg shadow-xl max-w-4xl w-full border-t-8 border-primary-red mb-8"
>
  <div class="flex flex-col md:flex-row items-center justify-between mb-6">
    <!-- Logo de la cafetería -->
    <div class="flex items-center mb-4 md:mb-0">
      <img
        src="{% static 'img/logos/logo.png' %}"
        alt="Logo de la Cafetería Certo"
        class="w-16 h-16 rounded-full border-2 border-primary-red p-1 object-cover mr-4"
      />
      <h1 class="text-3xl font-bold text-gray-800">Pedidos</h1>
    </div>
    <!-- Botón para volver o añadir alumno -->
    <div class="text-right">
      <a
        href="/core/dashboard"
        class="px-4 py-2 text-sm font-medium text-white bg-gray-600 rounded-md hover:bg-gray-700 transition duration-300 ease-in-out mr-2"
      >
        Volver
      </a>
      <a
        href="{% url 'core:createOrder' %}"
        class="px-4 py-2 text-sm font-medium text-white bg-primary-red rounded-md hover:bg-red-700 transition duration-300 ease-in-out"
      >
        + Añadir Pedido
      </a>
    </div>
  </div>

</div>
<script src="{% static 'js/list.js' %}"></script>
{% endblock %}
