<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign In / Sign Up</title>
</head>
<body>
    <div class="container">
        <h1>Sign Up</h1>
        <form action="{% url 'core:signInUp' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="Nombre">Nombre:</label>
                <input type="text" id="Nombre" name="Nombre" required>
                <label for="ApellidoPaterno">Apellido Paterno:</label>
                <input type="text" id="ApellidoPaterno" name="ApellidoPaterno" required>
                <label for="ApellidoMaterno">Apellido Materno:</label>
                <input type="text" id="ApellidoMaterno" name="ApellidoMaterno" required>
                <label for="numeroTelefonico">Número Telefónico:</label>
                <input type="number" id="numeroTelefonico" name="numeroTelefonico" required>
            </div>
            <div class="form-group">
                <label for="correo">Correo:</label>
                <input type="email" id="correo" name="correo" required>
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>