{% extends "main.html" %} {% load static %}{% block content %}
<div
  class="bg-white p-8 rounded-lg shadow-xl max-w-4xl w-full border-t-8 border-primary-red mb-8"
>
  <div class="flex flex-col md:flex-row items-center justify-between mb-6">
    <!-- Logo de la cafetería -->
    <div class="flex items-center mb-4 md:mb-0">
      <img
        src="{% static 'img/logos/logo.png' %}"
        alt="Logo de la Cafetería Certo"
        class="w-16 h-16 rounded-full border-2 border-primary-red p-1 object-cover mr-4"
      />
      <h1 class="text-3xl font-bold text-gray-800">
        Lista de Creditos de Tutores
      </h1>
    </div>
    <!-- Botón para volver o añadir Credito a tutor-->
    <div class="text-right">
      <button
        onclick="alert('Descargar reporte')"
        class="px-4 py-2 text-sm font-medium text-white bg-primary-red rounded-md hover:bg-red-700 transition duration-300 ease-in-out"
      >
        Reporte
      </button>
      <a
        href="/core/dashboard"
        class="px-4 py-2 text-sm font-medium text-white bg-gray-600 rounded-md hover:bg-gray-700 transition duration-300 ease-in-out mr-2"
      >
        Volver
      </a>
      <a
        href="{% url 'comedor:createCredit' %}"
        class="px-4 py-2 text-sm font-medium text-white bg-primary-red rounded-md hover:bg-red-700 transition duration-300 ease-in-out"
      >
        + Añadir Credito
      </a>
    </div>
  </div>

  <!-- Bloque para mensajes -->
  {% if messages %}
  <div class="mb-4" style="margin-top: 1.5rem">
    {% for message in messages %}
    <div
      class="p-3 rounded-md text-center text-sm font-medium {% if message.tags == 'success' %}bg-green-100 text-green-800 border border-green-200{% elif message.tags == 'error' %}bg-red-100 text-red-800 border border-red-200{% elif message.tags == 'warning' %}bg-yellow-100 text-yellow-800 border border-yellow-200{% elif message.tags == 'info' %}bg-blue-100 text-blue-800 border border-blue-200{% else %}bg-gray-100 text-gray-800 border border-gray-200{% endif %}"
    >
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <!-- Tabla de Creditos -->
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white rounded-lg shadow-custom">
      <thead class="bg-gray-200">
        <tr>
          <th
            class="py-3 px-4 text-left text-xs font-medium text-gray-600 uppercase tracking-wider rounded-tl-lg"
          >
            Nombre(s)
          </th>
          <th
            class="py-3 px-4 text-left text-xs font-medium text-gray-600 uppercase tracking-wider"
          >
            Apellido Paterno
          </th>
          <th
            class="py-3 px-4 text-left text-xs font-medium text-gray-600 uppercase tracking-wider"
          >
            Apellido Materno
          </th>
          <th
            class="py-3 px-4 text-left text-xs font-medium text-gray-600 uppercase tracking-wider"
          >
            Credito Disponible
          </th>
          <th
            class="py-3 px-4 text-left text-xs font-medium text-gray-600 uppercase tracking-wider rounded-tr-lg"
          >
            Perfil
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
          {% for credito in creditos %}
            {% if credito.tutorId %}
            <tr class="hover:bg-gray-50">
              <td class="py-4 px-4 text-sm text-gray-700">
                {{ credito.tutorId.usuario.nombre }}
              </td>
              <td class="py-4 px-4 text-sm text-gray-700">
                {{ credito.tutorId.usuario.paterno }}
              </td>
              <td class="py-4 px-4 text-sm text-gray-700">
                {{ credito.tutorId.usuario.materno }}
              </td>
              <td class="py-4 px-4 text-sm text-gray-700">
                ${{ credito.monto|floatformat:2 }}
              </td>
              {% if user.is_superuser %}
              <td class="py-4 px-4 text-sm text-gray-700">
                Tutor
              </td>
              {% endif %}
            </tr>
            {% else %}
              <td class="py-4 px-4 text-sm text-gray-700">
                {{ credito.profesorId.usuario.nombre }}
              </td>
              <td class="py-4 px-4 text-sm text-gray-700">
                {{ credito.profesorId.usuario.paterno }}
              </td>
              <td class="py-4 px-4 text-sm text-gray-700">
                {{ credito.profesorId.usuario.materno }}
              </td>
              <td class="py-4 px-4 text-sm text-gray-700">
                ${{ credito.monto|floatformat:2 }}
              </td>
              <td class="py-4 px-4 text-sm text-gray-700">
                Profesor
              </td>
            </tr>
            {% endif %}
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
